<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Voiceovervoter" %></title>


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="transbox">
      <div class="nav-bar">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>



        <% if user_signed_in? %>
          Hello, <%= current_user.username %>!
          <%= link_to "Edit Account", edit_user_registration_path %>
            ||
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            ||
          <a href="/books/new">New Book</a>
          <%= form_tag(books_path, :method => "get", id: "search-form") do %>
            <div class="row">
              <div class="small-9 columns">
              <%= text_field_tag :search, params[:search], placeholder: "Search for my books by title or author" %>
              </div>
              <div class="small-1 columns">
              <%= submit_tag "Search", :name => nil %>
              </div>
              <div class="small-2 columns"></div>
            </div>
          <% end %>
          <br />
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path %>
            ||
          <%= link_to 'Sign In', new_user_session_path %>
          <br />
        <% end %>
        <a href="/">Home Page</a>
      </div>

      <%= yield %>

      <%= javascript_include_tag "application" %>
    </div>
  </body>
</html>
