<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Voiceover Voter" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>

    <div class="contain-to-grid sticky">
      <nav class="top-bar overrideNav" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Voiceover Voter</a></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
            <% if user_signed_in? %>
              <li><a href="/books/new">New Book</a></li>
                <li>
                  <%= form_tag(books_path, :method => "get", id: "search-form") do %>
                    <div class="row collapse overrideNav">
                      <div class="small-11 columns">
                      <%= text_field_tag :search, params[:search], placeholder: "Search #{current_user.username}'s books" %>
                      </div>
                      <div class="small-1 columns">
                      <%= submit_tag "Search", :name => nil %>
                      </div>
                    </div>
                  <% end %>
                </li>
            <% end %>
          </ul>
          <!-- Right Nav Section -->
          <ul class="right">
            <% if user_signed_in? %>
              <li><a href="#">Greetings, <%=current_user.username%></a></li>
            <% end %>
            <li class="has-dropdown">
              <a href="#">ACCOUNT</a>
              <ul class="dropdown">
                <% if user_signed_in? %>
                  <li class="overrideNav"><%= link_to "Edit Account", edit_user_registration_path %></li>
                  <li class="active"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to 'Sign In', new_user_session_path %></li>
                  <li class="active"><%= link_to 'Sign Up', new_user_registration_path %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <div class="transbox">
      <div class="nav-bar">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>


      <%= yield %>

      <%= javascript_include_tag "application" %>

  </body>
</html>
